<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add owner</title>
</head>
<body>
    <form action="/owner/save" method="post">
        Firstname
        <input type="text" name="firstname"><br>
        LastName
        <input type="text" name="lastname"><br>
        Email
        <input type="text" name="email"><br>
        Phone
        <input type="text" name="phone"><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>